<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Funcionarios</title>
    <link rel="stylesheet" href="/css/cadastro.css">
    <link type="image/png" sizes="96x96" rel="icon" href=".../icons8-crie um novo-office40-96.png"> <meta name="msapplication-square70x70logo" content=".../icons8-crie um novo-office40-70.png"> <meta name="msapplication-TileImage" content=".../icons8-crie um novo-office40-144.png"> <meta name="msapplication-square150x150logo" content=".../icons8-crie um novo-office40-150.png"> <meta name="msapplication-square310x310logo" content=".../icons8-crie um novo-office40-310.png">
</head>
<body>

<div class="cadastro-container">
    <h2>Cadastro</h2>

    <form th:action="@{/cadastrar}" method="post">
        <div class="input-group">
            <label for="nome">Nome</label>
            <input
                    type="text"
                    id="nome"
                    name="nome"
                    placeholder="Digite o Nome"
                    required>
        </div>

        <div class="input-group">
            <label for="matricula">Matricular</label>
            <input type="text" id="matricula" name="matricula"
                   placeholder="Digite a Matricula" required>
        </div>



        <button type="submit">Cadastrar</button>

        <div class="voltar">
            <a href="/chavesemprestadas"><img width="64" height="64" src="https://img.icons8.com/external-bartama-outline-64-bartama-graphic/64/external-SYS-file-formats-outline-bartama-outline-64-bartama-graphic.png" alt="external-SYS-file-formats-outline-bartama-outline-64-bartama-graphic"/></a>
        </div>

    </form>


</div>

</body>
</html>